[Unit]
Description=EduFace: Detect, Recognize and mark attendance
After=mysqld.service
Requires=mysqld.service

[Service]
WorkingDirectory=/home/edugrad/gstream-process
ExecStart=/usr/bin/python3 /home/edugrad/gstream-process/main.py
Restart=on-failure
Slice=eduface.slice

[Install]
WantedBy=multi-user.target